.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  width: 100%;
}

.registerContainer {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.title {
  margin-top: 3rem;
  padding-bottom: 30px;
}

.form {
  position: relative;
  width: 50%;
  margin-bottom: 5rem;

  span {
    font-size: var(--fs-200);
  }
}

.input-container {
  position: relative;
  display: flex;
}

.selectfilecontainer div {
  width: 109%;
  position: relative;
}

.required {
  position: absolute;
  right: -17px;
  color: var(--primary-color);
}

.container {
  input,
  textarea {
    font-size: var(--fs-300);
    background-color: var(--input-bg-color);
    color: var(--dark-grey-color);
    font-weight: 400;
    border-radius: 8px;
    border: none;
    padding: 1.2em;
    margin-bottom: 1.2em;
    width: 100%;
  }
}

.select-file-btn {
  font-size: var(--fs-300);
  background-color: var(--input-bg-color);
  color: var(--dark-grey-color);
  font-weight: 400;
  border-radius: 8px;
  border: none;
  padding: 1.2em;
  margin-bottom: 1.2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  font-weight: var(--fw-MEDIUM);
  background-color: var(--primary-color);
  margin-right: 1rem;
  cursor: pointer;

  &:hover {
    letter-spacing: 3px;
  }

  span {
    font-size: var(--fs-300);
  }
}

.selectfileinput {
  box-sizing: border-box;
  margin: 0;
}

.submit {
  background-color: var(--primary-color) !important;
  color: white !important;
  cursor: pointer;
  font-weight: var(--fw-SBOLD) !important;
  letter-spacing: 2px;

  &:hover {
    letter-spacing: 5px;
    background-color: white !important;
    color: var(--primary-color) !important;
  }
}

.link {
  color: var(--secondary-color);
  text-decoration: none;
}

.double-input-section {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;

  > .input-container {
    width: 48%;
  }
}

/* CREATOR FORM */

.creator-form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  input,
  textarea {
    margin-bottom: 0.2rem;
  }
}

.textnfo {
  margin-left: 0.4rem;
  color: var(--dark-grey-color);
  line-height: 0%;
}

@media (min-width: 300px) and (max-width: 500px) {
  .form {
    width: 70%;
  }

  .selectfileinput,
  .select-file-btn {
    padding: 0;
  }

  .requiredtitle {
    display: none;
  }
}

@media (max-width: 500px) {
  .form {
    width: 80%;
  }

  .double-input-section {
    flex-direction: column;

    .input-container {
      width: 100%;
    }
  }

  .requiredtitle {
    display: block;
  }

  .selectfilecontainer {
    flex-direction: column-reverse;

    div {
      width: 100%;
      position: relative;
    }
  }

  .selectfileinput {
    margin-right: 1.2rem;
  }

  .select-file-btn {
    margin-right: 0;
    padding: 0.5rem;

    img {
      width: 15px;
    }
  }
}

@media (min-width: 500px) and (max-width: 650px) {
  .form {
    width: 70%;
  }

  .requiredtitle {
    display: none;
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  .form {
    width: 70%;
  }

  .selectfileinput,
  .select-file-btn {
    padding: 0;
  }

  .requiredtitle {
    display: none;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .requiredtitle {
    display: none;
  }
}
