.models {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  flex-wrap: wrap;
  margin: auto;
}

.models-header {
  display: flex;
  height: 80px;
  justify-content: space-around;
  margin-top: 2rem;

  h1 {
    font-size: var(--fs-400);
  }
}

.select {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 180px;
  background-color: white;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid rgb(197, 196, 196);
  cursor: pointer;
  z-index: 1;
  bottom: 0.7rem;

  &:hover {
    border: 1px solid var(--primary-color);
  }

  img {
    position: relative;
    top: 0.5rem;
    right: 0.5rem;
    height: 20px;
  }
}

#select {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.select-option {
  font-size: var(--fs-300);
  user-select: none;
  width: 100%;
  padding: 0.5rem;
  display: none;

  &:hover {
    color: var(--contact-input-color);
  }
}

.default {
  top: 0;
  display: block;

  &:hover {
    color: black;
  }
}

.model {
  position: relative;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 14px;
  padding: 0.3rem 1rem 1.5rem 1rem;
  font-size: var(--fs-300);
  box-shadow: 1px 1px 10px rgb(231, 228, 228);
}

.model--model {
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;

  img {
    width: 230px;
    border-radius: 10px;
  }
}

.model--modelinfo,
.buy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infomodel {
  font-size: var(--fs-300);
}

.model--author {
  font-size: var(--fs-200);

  a:hover {
    text-decoration: underline;
  }
}

.buy {
  margin-top: 1rem;
  align-items: center;
}

.model--likesfavs {
  display: flex;
  font-size: var(--fs-200);
  font-weight: var(--fw-SBOLD);

  img {
    width: var(--favslikesmodel-img-width);
  }
}

.model--likes,
.model--favs {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.model--seebtn button {
  display: flex;
  letter-spacing: 0.5px;
  align-items: center;
  font-size: var(--fs-200);
  justify-content: center;
  border: 0;
  height: 2.2rem;
  width: 10rem;

  &:hover {
    letter-spacing: 3px;
  }
}

.model--price {
  font-size: var(--fs-400);
  font-weight: var(--fw-BOLD);
}

.price-snumber {
  font-size: var(--fs-200);
}

@media (max-width: 500px) {

  .select {
    width: 120px;

    img {
      top: 0.3rem;
    }
  }
  .model--model {
    height: 180px;

    img {
      width: 140px;
    }
  }

}

@media (min-width: 300px) and (max-width: 400px) {
  .model {
    width: 220px;
  }

  .model--model {
    height: 280px;

    img {
      width: 220px;
    }
  }

  .model--seebtn button {
    height: 0.8rem;
    width: 6.7rem;
  }
}

@media (min-width: 500px) and (max-width: 650px) {

  .model--model {
    height: 180px;

    img {
      width: 140px;
    }
  }


  .model--seebtn button {
    font-size: 0.5rem;
  }


  .model--price {
    font-size: 1.2rem;
  }

  .model--likesfavs span {
    font-size: 0.5rem;
  }

  .model--title {
    font-size: 0.7rem;
  }

  .model--author {
    font-size: 0.5rem;
  }
}

@media (max-width: 800px){
    .models {
        width: 95%;
      }
      .model {
        width: 130px;
        padding-bottom: 0.8rem;
      }
      .buy {
        margin-top: 0.6rem;
      }
    
      .model--seebtn button {
        padding: 0.7rem 0.3rem;
        height: 0.8rem;
        width: 5rem;
      }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .model {
    width: 180px;
  }

  .model--model {
    height: 240px;

    img {
      width: 180px;
    }
  }

  .buy {
    margin-top: 0.6rem;
  }

  .model--seebtn button {
    height: 0.8rem;
    width: 6.7rem;
  }
}

@media (min-width: 1100px) and (max-width: 1500px) {
  .model {
    width: 200px;
  }
  
  .models-header h1 {
    font-size: 1.8rem;
  }

  .model--model {
    height: 270px;

    img {
      width: 200px;
    }
  }

  .buy {
    margin-top: 0.6rem;
  }

  .model--seebtn button {
    height: 1.7rem;
    width: 8rem;
  }
}

@media (min-width: 1500px) and (max-width: 2000px) {
  .models-header h1 {
    font-size: 2.1rem;
  }
}

@media (min-width: 2000px) and (max-width: 4000px) {
  .models {
    margin-top: 2rem;
  }

  .model {
    width: 310px;
  }

  .select {
    width: 300px;
  }

  .models-header h1 {
    font-size: 3.1rem;
  }

  .select-option {
    padding: 1rem;
  }

  .model--title {
    font-weight: var(--fw-SBOLD);
  }

  .model--author {
    font-size: calc(var(--fs-300) * 0.9);
  }

  .model--model {
    height: 400px;

    img {
      width: 295px;
    }
  }

  .buy {
    margin-top: 0.6rem;
  }

  .model--seebtn button {
    font-size: 1.2rem;
    height: 2.9rem;
    width: 14rem;
  }
}
