<IfModule mod_rewrite.c>

    #Activar rewrite
    RewriteEngine on
    Options All -Indexes
    Options -MultiViews
    #ErrorDocument 404 http://localhost/modelarium3D-php/

    RewriteRule ^.*$ public/index.php/ [QSA,L]
    Rewriterule ^models/Z([0-9]+)/?$ /models/view/id=$1
</IfModule>