<IfModule mod_rewrite.c>

    #Activar rewrite
    RewriteEngine on
    Options All -Indexes
    Options -MultiViews
    #ErrorDocument 404 http://localhost/modelarium3D-php/

    RewriteRule ^.*$ public/index.php [QSA,L]
</IfModule>