footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, var(--bg-color), white);
  background-color: rebeccapurple;
  box-sizing: border-box;
  height: 250px;
  padding: 2rem;
}
footer h1 {
  font-family: var(--ff-berlin);
  font-size: 4rem;
  color: var(--primary-color);
  text-shadow: 1px 1px 1px var(--secondary-color), 1px 2px 1px var(--secondary-color), 1px 3px 1px var(--secondary-color), 1px 4px 1px var(--secondary-color), 1px 5px 1px var(--secondary-color), 1px 6px 1px var(--secondary-color), 1px 7px 1px var(--secondary-color), 1px 8px 1px var(--secondary-color), 1px 9px 1px var(--secondary-color), 1px 10px 1px var(--secondary-color), 1px 18px 6px #c9c9c9, 1px 22px 10px #c9c9c9, 1px 25px 35px #c9c9c9, 1px 30px 60px #c9c9c9;
}

.footer-left {
  display: flex;
  gap: 5rem;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.left-section h3 {
  font-size: var(--fs-400);
}
.left-section li a {
  font-weight: var(--fw-SBOLD);
  font-size: var(--fs-300);
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.footer-right span {
  font-size: var(--fs-400);
}

@media (max-width: 500px) {
  body {
    margin-bottom: 330px;
  }
  footer {
    height: 280px;
    flex-direction: column;
  }
  footer h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 1px var(--secondary-color), 1px 1px 1px var(--secondary-color), 1px 1px 1px var(--secondary-color), 1px 1px 1px var(--secondary-color), 1px 1px 1px var(--secondary-color), 1px 2px 1px var(--secondary-color), 1px 2px 1px var(--secondary-color), 1px 2px 1px var(--secondary-color), 1px 3px 1px var(--secondary-color), 1px 4px 1px var(--secondary-color), 1px 12px 6px #c9c9c9, 1px 16px 10px #c9c9c9, 1px 20px 35px #c9c9c9, 1px 24px 60px #c9c9c9;
  }
  .left-section {
    gap: 0;
  }
  .left-section li {
    height: 17px;
  }
  .left-section h3 {
    font-size: var(--fs-300);
  }
  .footer-right span {
    font-size: var(--fs-300);
    text-align: center;
  }
  .left-section li a {
    font-size: 0.6rem;
  }
  .footer-left {
    gap: 2.4rem;
  }
  .footer-right {
    gap: 1rem;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .left-section {
    gap: 0;
  }
  .left-section h3 {
    font-size: var(--fs-200);
  }
  .footer-right span {
    font-size: var(--fs-200);
  }
  .left-section li a {
    font-size: var(--fs-200);
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  body {
    margin-bottom: 200px;
  }
  footer {
    height: 140px;
  }
  footer h1 {
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px var(--secondary-color), 1px 1px 1px var(--secondary-color), 1px 1px 1px var(--secondary-color), 1px 1px 1px var(--secondary-color), 1px 2px 1px var(--secondary-color), 1px 3px 1px var(--secondary-color), 1px 3px 1px var(--secondary-color), 1px 3px 1px var(--secondary-color), 1px 4px 1px var(--secondary-color), 1px 5px 1px var(--secondary-color), 1px 12px 6px #c9c9c9, 1px 16px 10px #c9c9c9, 1px 20px 35px #c9c9c9, 1px 24px 60px #c9c9c9;
  }
  .left-section li {
    height: 16px;
  }
  .footer-left {
    gap: 1rem;
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  body {
    margin-bottom: 250px;
  }
  footer {
    height: 170px;
  }
  footer h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 1px var(--secondary-color), 1px 1px 1px var(--secondary-color), 1px 2px 1px var(--secondary-color), 1px 3px 1px var(--secondary-color), 1px 4px 1px var(--secondary-color), 1px 5px 1px var(--secondary-color), 1px 5px 1px var(--secondary-color), 1px 5px 1px var(--secondary-color), 1px 6px 1px var(--secondary-color), 1px 7px 1px var(--secondary-color), 1px 18px 6px #c9c9c9, 1px 22px 10px #c9c9c9, 1px 25px 35px #c9c9c9, 1px 30px 60px #c9c9c9;
  }
  .left-section li {
    height: 13px;
  }
  .footer-left {
    gap: 3rem;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  body {
    margin-bottom: 280px;
  }
  footer {
    height: 200px;
  }
  footer h1 {
    font-size: 2.8rem;
  }
  .left-section {
    gap: 0.2rem;
  }
  .left-section h3 {
    font-size: var(--fs-300);
  }
  .footer-right span {
    font-size: var(--fs-300);
  }
  .footer-left {
    gap: 3rem;
  }
  .left-section li a {
    font-size: var(--fs-300);
  }
}
@media (min-width: 1100px) and (max-width: 2000px) {
  .left-section h3,
  .footer-right span {
    font-size: var(--fs-400);
  }
  .left-section li a {
    font-size: var(--fs-300);
  }
}
@media (min-width: 1100px) and (max-width: 1300px) {
  body {
    margin-bottom: 240px;
  }
  footer {
    height: 240px;
  }
  footer h1 {
    font-size: 3.4rem;
  }
  .footer-left {
    gap: 3rem;
  }
}
@media (min-width: 1500px) and (max-width: 2000px) {
  body {
    margin-bottom: 380px;
  }
  footer {
    height: 290px;
  }
  footer h1 {
    font-size: 4.2rem;
  }
}
@media (min-width: 2000px) and (max-width: 4000px) {
  body {
    margin-bottom: 450px;
  }
  footer {
    height: 350px;
  }
  footer h1 {
    font-size: 6rem;
  }
  .left-section h3,
  .footer-right span {
    font-size: var(--fs-500);
  }
  .left-section li a {
    font-size: var(--fs-400);
  }
}
.generic-nav {
  background-color: var(--bg-color);
  width: 100%;
  height: var(--height-header);
  z-index: 10;
}

nav {
  position: relative;
}

.header-links,
.searcher,
.header-logo a {
  width: inherit;
}

.header-links {
  height: 100%;
  display: flex;
  font-size: var(--fs-300);
  font-weight: 400;
  justify-content: space-around;
  align-items: center;
}
.header-links a {
  transition: all 300ms;
}
.header-links a:hover {
  transition: all 300ms;
  color: var(--secondary-color);
}

.header-logo a {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: var(--width-logo);
  margin-right: 2rem;
}

.header-title {
  font-size: var(--fs-500);
  font-weight: var(--fw-MEDIUM);
}

.searcher {
  width: 300px;
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
}
.searchbar input {
  height: 10px;
  border-radius: 35px;
  border: none;
  font-size: var(--fs-300);
  outline: none;
  padding: 1rem;
  width: 100%;
}

.responsivesearcher {
  display: none;
  top: -100px;
  position: absolute;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: var(--height-header);
}
.responsivesearcher input {
  height: 10px;
  border-radius: 35px;
  border: none;
  font-size: var(--fs-300);
  outline: none;
  padding: 1rem;
  width: 100%;
  position: relative;
  margin: auto;
  top: 15px;
  width: 80%;
  height: 40%;
}

.user-options {
  display: flex;
  align-items: center;
}

.link-icon {
  width: var(--header-icons-width);
}

.heart-icon {
  width: var(--heart-icon-width);
}

.magn-glass {
  position: absolute;
  width: var(--magn-glass-width);
  right: 15px;
  z-index: 5;
}

.user-link {
  margin: 0 0.3rem 0 0.3rem;
}

.block {
  background-color: #fff;
  width: 100px;
  height: 100px;
}

/* HAMBURGER REPONSIVE */
.btn1 {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 60px;
  height: 70px;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}
.btn1 .icon-left {
  transition-duration: var(--transition-duration);
  width: 30px;
  height: 3px;
  background-color: #212121;
  position: absolute;
  top: 50px;
  left: 20px;
}
.btn1 .icon-left:before, .btn1 .icon-left:after {
  transition-duration: var(--transition-duration);
  width: 30px;
  height: 3px;
  background-color: #212121;
  position: absolute;
}
.btn1 .icon-left:before {
  content: "";
  top: -10px;
}
.btn1 .icon-left:after {
  content: "";
  top: 10px;
}
.btn1 .icon-left:hover {
  cursor: pointer;
}
.btn1.open .icon-left {
  width: 20px;
  transition-duration: 0.5s;
  background: transparent;
}
.btn1.open .icon-left:before {
  width: 20px;
  transform: rotateZ(45deg) scaleX(2.4) translate(4px, 4px);
}
.btn1.open .icon-left:after {
  width: 20px;
  transform: rotateZ(-45deg) scaleX(2.4) translate(4px, -4px);
}

.dblockresponsive {
  display: none;
}

.responsivemenu {
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

#responsive-menu-profilesection {
  display: none;
}

.responsivemenu li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.3rem;
}

#account-responsive-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#account-responsive-link div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.responsivemenu li a:hover {
  color: black;
  background-color: white;
  color: var(--secondary-color);
}
.responsivemenu li a:hover ~ svg {
  fill: var(--secondary-color);
}

.isactive {
  left: 0;
}

@media (min-width: 300px) and (max-width: 500px) {
  .logo {
    margin-right: 0.5rem;
  }
  .responsivesearcher input {
    width: 75%;
  }
  .header-logo h1 {
    font-size: 1rem;
  }
  .magn-glass {
    margin-right: 1rem;
  }
  .header-logo {
    margin-left: 2rem;
  }
}
@media (max-width: 500px) {
  .magn-glass {
    position: absolute;
    right: -20px;
    cursor: pointer;
  }
  .isactivesearcher {
    display: block;
    top: 0;
  }
  .searcher {
    width: 0px;
    height: 0px;
  }
  .searchbar input {
    display: none;
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  .searcher {
    width: 200px;
  }
  .searchbar input {
    height: 17px;
    padding: 0.5rem;
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  .searcher {
    width: 300px;
  }
  .searchbar input {
    height: 17px;
    padding: 0.5rem;
  }
  .header-logo {
    margin-left: 3rem;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .searcher {
    width: 480px;
  }
  .searchbar input {
    height: 17px;
    padding: 0.5rem;
  }
}
@media (max-width: 1100px) {
  .dnoneresponsive,
  .dnoneresponsive2 {
    display: none;
  }
  .dblockresponsive {
    display: block;
  }
  .header-logo {
    margin-left: 4rem;
  }
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .searcher {
    width: 450px;
  }
  .searchbar input {
    height: 20px;
    padding: 0.7rem;
  }
}
@media (min-width: 1500px) and (max-width: 2000px) {
  .searcher {
    width: 375px;
  }
  .searchbar input {
    height: 15px;
    padding: 1rem;
  }
}
@media (min-width: 2000px) and (max-width: 4000px) {
  .searcher {
    width: 600px;
  }
  .searchbar input {
    height: 25px;
    padding: 1.2rem;
  }
}
@font-face {
  font-family: Berlin Sans;
  src: url(../fonts/BRLNSDB.TTF);
}
@font-face {
  font-family: Arcade;
  src: url(../fonts/ARCADE_N.TTF);
}
* {
  padding: 0;
  margin: 0;
}

html {
  min-width: 100vw;
  min-height: 100%;
  position: relative;
}

body {
  overflow-x: hidden;
  font-family: var(--ff-vietnam);
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
  margin-bottom: 350px;
}

a {
  text-decoration: none;
  color: var(--grey-color);
}

li {
  list-style-type: none;
}

input,
textarea {
  outline: none;
  resize: none;
}

.linkpurple {
  color: var(--secondary-color);
}
.linkpurple:hover {
  text-decoration: underline;
}

.textshadow {
  text-shadow: 2px 2px 6px rgb(56, 56, 56);
}

.textshadowlight {
  text-shadow: 2px 2px 6px rgb(189, 189, 189);
}

.boxshadow {
  box-shadow: 2px 2px 6px rgb(171, 168, 168);
}

.defaultbtn {
  background: var(--primary-color);
  color: var(--input-bg-color);
  font-weight: var(--fw-SBOLD);
  border-radius: 4px;
  padding: 1rem 0.7rem;
  cursor: pointer;
  border: 0;
}

.transition {
  transition: all var(--transition-duration);
}
.transition:hover {
  transition: all var(--transition-duration);
}

input::-webkit-input-placeholder, input:-ms-input-placeholder, input:-moz-placeholder, input::-moz-placeholder {
  font-family: var(--ff-vietnam);
}

.none {
  display: none;
}

.block {
  display: block;
}

.plink-clicked {
  background-color: var(--profile-hover-color);
}

:root {
  --ff-berlin:Berlin Sans;
  --ff-arcade:Arcade;
  --ff-vietnam:"Be Vietnam Pro";
  --bg-color:#F5F5F5;
  --primary-color:#8338E3;
  --secondary-color:#A870E2;
  --input-bg-color:#ECEBEB;
  --contact-input-color:#8E45C4;
  --grey-color:#777777;
  --dark-grey-color:#515050;
  --model-bg-color:#e6e5e5;
  --profile-hover-color:#d9d9d9;
  --fw-LIGHT:300;
  --fw-REGULAR:400;
  --fw-MEDIUM:500;
  --fw-SBOLD:600;
  --fw-BOLD:700;
  --fs-landlinks:1.5rem;
  --fs-landtext:2rem;
  --fs-200:.7rem;
  --fs-300:1rem;
  --fs-400:1.4rem;
  --fs-500:1.6rem;
  --fs-600:1.9rem;
  --fs-700:2.3rem;
  --fs-800:2.7rem;
  --fs-1000:4rem;
  /* HEADER VARIABLES */
  --height-header:100px;
  --width-logo:50px;
  --header-icons-width:30px;
  --heart-icon-width:34px;
  --magn-glass-width:24px;
  --favslikesmodel-img-width:25px;
  --profile-icons-width:23px;
  --padding-default:.8rem 1.2rem;
  --transition-duration:300ms;
}

@media (min-width: 300px) and (max-width: 500px) {
  :root {
    --fs-200: .7rem;
    --fs-300: .7rem;
    --fs-400: .2rem;
    --fs-500: 1.2rem;
    --fs-600: 1.9rem;
    --fs-700: 2.3rem;
    --fs-1000: 10rem;
    --height-header: 100px;
    --width-logo: 30px;
  }
}
@media (max-width: 500px) {
  :root {
    --fs-200: .5rem;
    --fs-300: .7rem;
    --fs-400: 1.4rem;
    --fs-500: 1.2rem;
    --fs-600: 1.9rem;
    --fs-700: 2.3rem;
    --fs-1000: 2.2rem;
    --fs-landtext: .7rem;
    --fs-landlinks: .8rem;
    --height-header: 100px;
    --favslikesmodel-img-width: 15px;
    --width-logo: 40px;
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  :root {
    --fs-200: .7rem;
    --fs-300: .9rem;
    --fs-400: 1.4rem;
    --fs-500: 1.2rem;
    --fs-600: 1.9rem;
    --fs-700: 2.3rem;
    --fs-1000: 3.6rem;
    --fs-landtext: 1.1rem;
    --fs-landlinks: 1rem;
    --height-header: 100px;
    --width-logo: 40px;
    --favslikesmodel-img-width: 15px;
    --profile-icons-width: 20px;
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  :root {
    --fs-200: .6rem;
    --fs-300: .95rem;
    --fs-400: 1.4rem;
    --fs-500: 1.7rem;
    --fs-600: 1.9rem;
    --fs-700: 2.3rem;
    --fs-1000: 4.6rem;
    --fs-landtext: 1.2rem;
    --fs-landlinks: 1.1rem;
    --height-header: 100px;
    --width-logo: 40px;
    --profile-icons-width: 20px;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  :root {
    --fs-200: .7rem;
    --fs-300: .8rem;
    --fs-400: 1.4rem;
    --fs-500: 1.6rem;
    --fs-600: 1.9rem;
    --fs-700: 2.3rem;
    --fs-1000: 5.7rem;
    --fs-landtext: 1.4rem;
    --fs-landlinks: 1.3rem;
    --height-header: 100px;
    --width-logo: 50px;
    --header-icons-width: 27px;
    --heart-icon-width: 30px;
    --magn-glass-width: 21px;
  }
}
@media (min-width: 1100px) and (max-width: 1500px) {
  :root {
    --fs-200: .7rem;
    --fs-300: 1rem;
    --fs-400: 1.4rem;
    --fs-500: 1.6rem;
    --fs-600: 1.9rem;
    --fs-700: 2.3rem;
    --fs-1000: 8rem;
    --fs-landtext: 1.8rem;
    --fs-landlinks: 1.5rem;
    --height-header: 100px;
    --width-logo: 50px;
    --header-icons-width: 30px;
    --heart-icon-width: 34px;
    --magn-glass-width: 24px;
  }
}
@media (min-width: 1500px) and (max-width: 2000px) {
  :root {
    --fs-200: .9rem;
    --fs-300: 1.2rem;
    --fs-400: 1.5rem;
    --fs-500: 1.8rem;
    --fs-600: 2.3rem;
    --fs-700: 2.6rem;
    --fs-1000: 9.5rem;
    --fs-landtext: 1.7rem;
    --fs-landlinks: 1.4rem;
    --width-logo: 80px;
    --height-header: 130px;
    --header-icons-width: 35px;
    --heart-icon-width: 40px;
    --magn-glass-width: 30px;
  }
}
@media (min-width: 2000px) and (max-width: 4000px) {
  :root {
    --fs-200: .9rem;
    --fs-300: 1.5rem;
    --fs-400: 1.7rem;
    --fs-500: 2.3rem;
    --fs-600: 2.3rem;
    --fs-700: 2.6rem;
    --fs-1000: 12.5rem;
    --fs-landtext: 2.7rem;
    --fs-landlinks: 2.3rem;
    --width-logo: 85px;
    --height-header: 150px;
    --header-icons-width: 43px;
    --heart-icon-width: 48px;
    --magn-glass-width: 40px;
    --favslikesmodel-img-width: 35px;
  }
}
.contact-nav {
  background-color: transparent;
}
.contact-nav a {
  cursor: url(../img/contact/pointer.png), auto;
}

.contact-form input,
.contact-form textarea {
  cursor: url(../img/contact/text.png), auto;
}
.contact-form input[type=submit] {
  cursor: url(../img/contact/pointer.png), auto;
}

.contact-body {
  font-family: var(--ff-arcade);
  overflow: hidden;
  cursor: url(../img/contact/cursor.png), auto;
}

.header-logo-contact a, .contact-links {
  display: flex;
  align-items: center;
}

.contact-links {
  justify-content: space-between;
  margin: auto;
  margin-top: 2rem;
  width: 80%;
}

.contact-links a {
  color: white !important;
}
.contact-links a:hover {
  color: var(--contact-input-color) !important;
}

.contact-img-container {
  width: 100%;
  overflow: hidden;
}
.contact-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -4;
}

.bg-contact {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
.bg-contact img {
  width: 100%;
  height: 100%;
}

.contact-form-container {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form-card {
  position: relative;
  background-color: var(--primary-color);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  text-align: center;
}

.section1 img {
  z-index: 2;
}

.contact-name,
.contact-email,
.contact-description {
  position: relative;
  text-align: center;
  z-index: 3;
}

.section input,
.section textarea {
  position: absolute;
  font-family: var(--ff-arcade);
  background-color: transparent;
  border: none;
  width: 85%;
  height: 100%;
  left: 14px;
}

.section1 div {
  width: 100%;
  height: 100%;
}

.section img {
  width: 100%;
  height: 100%;
}
.section textarea {
  left: 5px;
  top: 10px;
  font-size: var(--fs-200);
  width: 98%;
  height: 90%;
}

.section1 {
  display: flex;
  gap: 1rem;
}

.example {
  background: white;
  margin: 0 auto;
  max-width: 1100px;
  padding: 2ch;
  width: 100%;
}

.contactbtn {
  font-family: var(--ff-arcade);
  background: var(--contact-input-color);
  font-size: var(--fs-300);
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 1rem;
  min-width: 300px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
}
.contactbtn:hover {
  filter: brightness(0.8);
}

@media (max-width: 500px) {
  .contact-form-card {
    width: 70%;
  }
  .contact-form .section1 {
    flex-direction: column;
  }
  .contact-form .contact-name,
  .contact-form .contact-email {
    height: 2rem;
  }
  .contact-form .contact-description {
    height: 6rem;
  }
  .contactbtn {
    margin: 0.5rem;
    min-width: 0;
    width: 50%;
  }
  .header-title,
  .contact-link {
    font-size: var(--fs-300);
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  .contact-form .section1 {
    flex-direction: column;
  }
  .contact-form .contact-name,
  .contact-form .contact-email {
    height: 2rem;
  }
  .contact-form-card {
    width: 80%;
  }
  .contactbtn {
    margin: 0.5rem;
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  .contact-form .section1 {
    flex-direction: column;
  }
  .contact-form .contact-name,
  .contact-form .contact-email {
    height: 2rem;
  }
  .contactbtn {
    margin: 0.5rem;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .contact-form .section1 {
    flex-direction: row;
  }
  .contact-form .contact-name,
  .contact-form .contact-email {
    height: 3rem;
  }
  .contact-form .contact-description {
    height: 8rem;
  }
  .contactbtn {
    width: 70%;
    height: 4rem;
  }
}
@media (min-width: 1100px) and (max-width: 1300px) {
  .contact-form .section1 {
    flex-direction: row;
  }
  .contact-form .contact-name,
  .contact-form .contact-email {
    height: 4rem;
  }
  .contact-form .contact-description {
    height: 9rem;
  }
  .contactbtn {
    width: 70%;
    height: 4rem;
  }
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .contact-links {
    font-size: var(--fs-500);
  }
  .contact-form-card {
    width: 70%;
  }
  .contact-email img,
  .contact-email input {
    height: 5rem;
  }
  .contact-name img,
  .contact-name input {
    height: 5rem;
  }
  .section1,
  .contactbtn,
  .contact-name {
    height: 5rem;
  }
  .contact-email {
    height: 5rem;
  }
  .contact-email input {
    width: 92%;
    font-size: var(--fs-300);
  }
  .contact-name input,
  .contactbtn {
    width: 92%;
    font-size: var(--fs-300);
  }
  .contact-description {
    box-sizing: border-box;
    height: 17rem;
  }
  .contact-description textarea {
    width: 92%;
    font-size: var(--fs-300);
    box-sizing: border-box;
    padding: 0.5rem 0 0 1rem;
    width: 97%;
    height: 15rem;
  }
  .contactbtn {
    width: 75%;
  }
}
@media (min-width: 1500px) and (max-width: 2000px) {
  .contact-links {
    font-size: var(--fs-500);
  }
  .contact-form-card {
    width: 60%;
  }
  .contact-email img,
  .contact-email input {
    height: 5rem;
  }
  .contact-name img,
  .contact-name input {
    height: 5rem;
  }
  .section1,
  .contactbtn,
  .contact-name {
    height: 5rem;
  }
  .contact-email {
    height: 5rem;
  }
  .contact-email input {
    margin-left: 1.3rem;
    font-size: var(--fs-400);
  }
  .contact-name input,
  .contactbtn {
    margin-left: 1.3rem;
    font-size: var(--fs-400);
  }
  .contact-description {
    box-sizing: border-box;
    height: 15rem;
  }
  .contact-description textarea {
    margin-left: 1.3rem;
    font-size: var(--fs-400);
    box-sizing: border-box;
    padding: 0.5rem 1.4rem 0 1rem;
    width: 97%;
    height: 13rem;
  }
  .contactbtn {
    width: 75%;
    height: 70%;
  }
}
@media (min-width: 2000px) and (max-width: 4000px) {
  .header-title,
  .contact-links {
    font-size: var(--fs-800);
  }
  .contact-form-card {
    width: 60%;
  }
  .contact-email img,
  .contact-email input {
    height: 8rem;
  }
  .contact-name img,
  .contact-name input {
    height: 8rem;
  }
  .section1,
  .contactbtn,
  .contact-name {
    height: 8rem;
  }
  .contact-email {
    height: 8rem;
  }
  .contact-email input {
    margin-left: 1.3rem;
    font-size: var(--fs-500);
  }
  .contact-name input {
    margin-left: 1.3rem;
    font-size: var(--fs-500);
  }
  .contact-description {
    box-sizing: border-box;
    height: 18rem;
  }
  .contact-description textarea {
    box-sizing: border-box;
    padding: 1.3rem 0 0 2rem;
    width: 97%;
    height: 16rem;
    font-size: var(--fs-500);
  }
  .contactbtn {
    width: 75%;
    height: 80%;
    font-size: var(--fs-500);
  }
}/*# sourceMappingURL=contact.css.map */