<IfModule mod_rewrite.c>

    #Activar rewrite
    RewriteEngine on
    Options All -Indexes
    Options -MultiViews
    #ErrorDocument 404 http://localhost/modelarium/
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    # RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2 
    RewriteRule ^ index.php [QSA,L]

</IfModule>