.generic-nav {
  background-color: var(--bg-color);
  width: 100%;
  height: var(--height-header);
  z-index: 10;
}

nav {
  position: relative;
}

.header-links,
.searcher,
.header-logo a {
  width: inherit;
}

.header-links {
  height: 100%;
  display: flex;
  font-size: var(--fs-300);
  font-weight: 400;
  justify-content: space-around;
  align-items: center;

  a {
    transition: all 300ms;

    &:hover {
      transition: all 300ms;
      color: var(--secondary-color);
    }
  }
}

.header-logo a {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: var(--width-logo);
  margin-right: 2rem;
}

.header-title {
  font-size: var(--fs-500);
  font-weight: var(--fw-MEDIUM);
}

.searcher {
  width: 300px;
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;

  input {
    height: 10px;
    border-radius: 35px;
    border: none;
    font-size: var(--fs-300);
    outline: none;
    padding: 1rem;
    width: 100%;
  }
}

.responsivesearcher {
  input {
    height: 10px;
    border-radius: 35px;
    border: none;
    font-size: var(--fs-300);
    outline: none;
    padding: 1rem;
    width: 100%;
    position: relative;
    margin: auto;
    top: 15px;
    width: 80%;
    height: 40%;
  }

  display: none;
  top: -100px;
  position: absolute;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: var(--height-header);
}

.user-options {
  display: flex;
  align-items: center;
}

.link-icon {
  width: var(--header-icons-width);
}

.heart-icon {
  width: var(--heart-icon-width);
}

.magn-glass {
  position: absolute;
  width: var(--magn-glass-width);
  right: 15px;
  z-index: 5;
}

.user-link {
  margin: 0 0.3rem 0 0.3rem;
}

.block {
  background-color: #fff;
  width: 100px;
  height: 100px;
}

/* HAMBURGER REPONSIVE */

.btn1 {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 60px;
  height: 70px;
  transition-duration: var(--transition-duration);
  cursor: pointer;

  .icon-left {
    transition-duration: var(--transition-duration);
    width: 30px;
    height: 3px;
    background-color: #212121;
    position: absolute;

    &:before,
    &:after {
      transition-duration: var(--transition-duration);
      width: 30px;
      height: 3px;
      background-color: #212121;
      position: absolute;
    }

    top: 50px;
    left: 20px;

    &:before {
      content: "";
      top: -10px;
    }

    &:after {
      content: "";
      top: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.open .icon-left {
    width: 20px;
    transition-duration: 0.5s;
    background: transparent;

    &:before {
      width: 20px;
      transform: rotateZ(45deg) scaleX(2.4) translate(4px, 4px);
    }

    &:after {
      width: 20px;
      transform: rotateZ(-45deg) scaleX(2.4) translate(4px, -4px);
    }
  }
}

.dblockresponsive {
  display: none;
}

.responsivemenu {
  background-color: var(--bg-color);
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

#responsive-menu-profilesection {
  display: none;
}

.responsivemenu li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.3rem;
}

#account-responsive-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.responsivemenu li a:hover {
  color: black;
  background-color: white;
  color: var(--secondary-color);

  ~ svg {
    fill: var(--secondary-color);
  }
}

.isactive {
  left: 0;
}

@media (min-width: 300px) and (max-width: 500px) {
  .logo {
    margin-right: 0.5rem;
  }

  .responsivesearcher input {
    width: 75%;
  }

  .header-logo h1 {
    font-size: 1rem;
  }

  .magn-glass {
    margin-right: 1rem;
  }

  .header-logo {
    margin-left: 2rem;
  }
}

@media (max-width: 500px) {
  .magn-glass {
    position: absolute;
    right: -20px;
    cursor: pointer;
  }

  .isactivesearcher {
    display: block;
    top: 0;
  }

  .searcher {
    width: 0px;
    height: 0px;
  }

  .searchbar input {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 650px) {
  .searcher {
    width: 200px;
  }

  .searchbar input {
    height: 17px;
    padding: 0.5rem;
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  .searcher {
    width: 300px;
  }

  .searchbar input {
    height: 17px;
    padding: 0.5rem;
  }

  .header-logo {
    margin-left: 3rem;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .searcher {
    width: 480px;
  }

  .searchbar input {
    height: 17px;
    padding: 0.5rem;
  }
}

@media (max-width: 1100px) {
  .dnoneresponsive,
  .dnoneresponsive2 {
    display: none;
  }

  .dblockresponsive {
    display: block;
  }

  .header-logo {
    margin-left: 4rem;
  }
}

@media (min-width: 1100px) and (max-width: 1500px) {
  .searcher {
    width: 450px;
  }

  .searchbar input {
    height: 20px;
    padding: 0.7rem;
  }
}

@media (min-width: 1500px) and (max-width: 2000px) {
  .searcher {
    width: 375px;
  }

  .searchbar input {
    height: 15px;
    padding: 1rem;
  }
}

@media (min-width: 2000px) and (max-width: 4000px) {
  .searcher {
    width: 600px;
  }

  .searchbar input {
    height: 25px;
    padding: 1.2rem;
  }
}
